Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

.lintstagedrc:

{
  "*.{js,ts,json,md}": [
    "prettier --write --ignore-unknown",
    "git add"
  ],
  "*.{js,ts}": [
    "eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern",
    "git add"
  ]
}

docs: update README with Forge fuzzing capabilities
  README.md
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown

chore: mark Task 6.0 complete
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown

feat: Medusa and Forge Diamond harness samples complete
  .gitignore
  README.md
  diamonds/ExampleDiamond/deployments/examplediamond-localhost-31337.json
  docs/BUILD_AND_DEPLOYMENT.md
  docs/FORGE_FUZZING_GUIDE.md
  docs/MEDUSA_FUZZING_GUIDE.md
  hardhat.config.ts
  medusa.json
  package.json
  scripts/setup/ForgeFuzzingFramework.ts
  scripts/setup/MedusaFuzzingFramework.ts
  scripts/tasks/forge.ts
  scripts/tasks/medusa.ts
  scripts/utils/medusaHelpers.ts
  tasks/archive/tasks-medusa-fuzzing-integration.md
  tasks/prd-forge-diamond-fuzzing-refactor.md
  tasks/tasks-forge-diamond-fuzzing-refactor.md
  test/foundry/fuzz/ExampleDiamondAccessControl.t.sol
  test/foundry/fuzz/ExampleDiamondOwnership.t.sol
  test/foundry/helpers/DiamondABILoader.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/fuzzing/generated/ExampleDiamondTest.sol
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: VSCode Debugger setup
  .vscode/launch.json
Due: prettier --write --ignore-unknown

feat: small additions for forge-medusa
  .vscode/DEBUG_SETUP.md
  .vscode/launch.json
  docs/PROJECT_OVERVIEW.md
  test/foundry/poc/DiamondABIDebugTest.t.sol
Due: prettier --write --ignore-unknown

feat: add test-multichain to package.json
  package.json
Due: prettier --write --ignore-unknown

feat: add sepolia block in hardhat.config
  hardhat.config.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: init add diamonds-monitor
  .gitmodules
  docs/PROJECT_OVERVIEW.md
  hardhat.config.ts
  package.json
  scripts/hardhat-run-sepolia-monitor.ts
  scripts/hardhat-run-sepolia-upgrade-monitor.ts
  scripts/monitor-sepolia-deployment.ts
  scripts/monitor-sepolia-upgrade.ts
  scripts/test-upgrade-facet.ts
  tasks/diamonds-monitor-integration.md
  test/integration/e2e-diamond-monitoring.test.ts
  test/integration/real-time-monitoring.test.ts
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: diamonds-monitor prd and tasks
  tasks/prd-diamonds-monitor-completion.md
  tasks/tasks-diamonds-monitor-completion.md
Due: prettier --write --ignore-unknown

feat: complete module integration for diamonds-monitor
  tasks/tasks-diamonds-monitor-completion.md
Due: prettier --write --ignore-unknown

feat: verify monitoring scripts quality and standards
  tasks/tasks-diamonds-monitor-completion.md
Due: prettier --write --ignore-unknown

feat: verify event monitoring and integration tests
  tasks/tasks-diamonds-monitor-completion.md
Due: prettier --write --ignore-unknown

feat: add RPC integration tests and complete documentation updates
  tasks/tasks-diamonds-monitor-completion.md
  test/integration/e2e-rpc-deployment-monitoring.test.ts
  test/integration/e2e-upgrade-monitoring.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: add comprehensive performance and stress testing suite
  tasks/tasks-diamonds-monitor-completion.md
  test/integration/performance-monitoring.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: prepare diamonds-monitor for npm publication
  tasks/tasks-diamonds-monitor-completion.md
Due: prettier --write --ignore-unknown

chore: complete final validation and QA for diamonds-monitor
  tasks/tasks-diamonds-monitor-completion.md
Due: prettier --write --ignore-unknown

style: linting corrections deployment scripts
  scripts/common.ts
  scripts/deploy/rpc/status-rpc.ts
  scripts/deploy/rpc/upgrade-rpc.ts
  scripts/deploy/rpc/verify-rpc.ts
  scripts/monitor-sepolia-deployment.ts
  scripts/monitor-sepolia-upgrade.ts
  scripts/test-upgrade-facet.ts
  test/integration/e2e-diamond-monitoring.test.ts
  test/integration/performance-monitoring.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: monitor-deployment scripts
  .vscode/launch.json
  diamonds/ExampleDiamond/deployments/examplediamond-hardhat-31337.json
  diamonds/ExampleDiamond/deployments/examplediamond-localhost-31337.json
  hardhat.config.ts
  package.json
  project/archive/prd-forge-diamond-fuzzing.md
  project/archive/prd-medusa-fuzzing-integration.md
  project/archive/tasks-forge-diamond-fuzzing.md
  project/archive/tasks-medusa-fuzzing-integration.md
  project/diamonds-monitor-integration.md
  project/init-prompts/create-prd.md
  project/init-prompts/generate-tasks.md
  project/init-prompts/process-task-list.md
  project/prd-diamonds-monitor-completion.md
  project/prd-forge-diamond-fuzzing-refactor.md
  project/tasks-diamonds-monitor-completion.md
  project/tasks-forge-diamond-fuzzing-refactor.md
  scripts/deploy/rpc/README.md
  scripts/deploy/rpc/deploy-rpc-core.ts
  scripts/deploy/rpc/deploy-rpc.ts
  scripts/deploy/rpc/hardhat-run-deploy-rpc.ts
  scripts/monitor-sepolia-deployment.ts
  scripts/monitor-sepolia-upgrade.ts
  scripts/test-upgrade-facet.ts
  test/integration/performance-monitoring.test.ts
  test/integration/rpc/rpc-deployment.test.ts
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: Medusa Fuzzing using echidna function names
  docs/MEDUSA_FUZZING_GUIDE.md
  project/archive/tasks-medusa-fuzzing-integration.md
  scripts/utils/medusaHelpers.ts
  test/fuzzing/README.md
  test/fuzzing/generated/ExampleDiamondTest.sol
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

chore: reorg project docs
  project/archive/diamonds-monitor-integration.md
  project/archive/prd-diamonds-monitor-completion.md
  project/archive/prd-forge-diamond-fuzzing-refactor.md
  project/archive/tasks-diamonds-monitor-completion.md
  project/archive/tasks-forge-diamond-fuzzing-refactor.md
  project/init-prompts/create-prd.md
  project/init-prompts/generate-tasks.md
  project/prd-echidna-fuzzing-integration.md
  project/prd-trailofbits-toolkit-integration.md
  project/tasks-trailofbits-toolkit-integration.md
Due: prettier --write --ignore-unknown

feat: trailofbits-toolkit integration tasks
  project/tasks-trailofbits-toolkit-integration.md
Due: prettier --write --ignore-unknown

fix: changed slither to use hardhat compile
  slither.config.json
Due: prettier --write --ignore-unknown

docs: updated README to include Trail of BItssecurity tools
  README.md
  project/tasks-trailofbits-toolkit-integration.md
Due: prettier --write --ignore-unknown

feat: set up Echidna directory structure and configuration
  .gitignore
  echidna/config/echidna.yaml
  project/tasks-echidna-fuzzing-integration.md
  project/tasks-trailofbits-toolkit-integration.md
Due: prettier --write --ignore-unknown

feat: create Solidity deployment helper contracts
  echidna/setup/DiamondDeploymentHelper.sol
  echidna/setup/IExampleDiamond.sol
  project/tasks-echidna-fuzzing-integration.md
Due: prettier --write --ignore-unknown

feat: implement example Echidna fuzzing test contract
  echidna/contracts/DiamondFuzzTest.sol
  project/tasks-echidna-fuzzing-integration.md
Due: prettier --write --ignore-unknown

feat: create npm scripts and tooling for Echidna
  package.json
  project/tasks-echidna-fuzzing-integration.md
  scripts/setup/prepare-echidna.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

docs: write comprehensive Echidna fuzzing documentation
  README.md
  echidna/README.md
  project/tasks-echidna-fuzzing-integration.md
Due: prettier --write --ignore-unknown

feat: complete Echidna fuzzing integration (task 6.0)
  echidna/config/echidna.yaml
  echidna/contracts/DiamondFuzzTest.sol
  echidna/setup/DiamondDeploymentHelper.sol
  echidna/setup/IExampleDiamond.sol
  project/tasks-echidna-fuzzing-integration.md
  scripts/setup/prepare-echidna.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

chore: mark task 6.0 as complete
  project/tasks-echidna-fuzzing-integration.md
Due: prettier --write --ignore-unknown

fix: resolve semgrep findings for Echidna test contracts
  .semgrepignore
Due: none

fix: update submodule URLs to DiamondsLab organization
  .gitmodules
Due: none

fix: diamondslabs in README
  README.md
Due: prettier --write --ignore-unknown

fix: added customHARDHAT_PORT to foundry.toml and hardhat.config.ts
  foundry.toml
  hardhat.config.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

chore: cleanup vault ignore files
  .gitignore
  package.json
Due: prettier --write --ignore-unknown

feat: preparation for diamonds-hardhat-foundry
  .gitmodules
  docs/FOUNDRY_SETUP_SUMMARY.md
  project/diamonds-foundry-prd-creation.md
  project/prd-diamonds-hardhat-foundry-module.md
  project/tasks-diamonds-hardhat-foundry-module.md
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/integration/BasicDiamondIntegration.t.sol
  test/foundry/integration/BasicDiamondIntegrationDeployed.t.sol
Due: prettier --write --ignore-unknown

feat: initialize diamonds-hardhat-foundry module project
  project/tasks-diamonds-hardhat-foundry-module.md
Due: prettier --write --ignore-unknown

feat: add integration tests for diamonds-hardhat-foundry
  project/tasks-diamonds-hardhat-foundry-module.md
  test/foundry/integration/diamonds-hardhat-foundry/deployment.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/end-to-end.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/helper-generation.t.sol
  test/integration/diamonds-hardhat-foundry.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

docs: complete Task 7.0 - Documentation & Examples
  project/tasks-diamonds-hardhat-foundry-module.md
Due: prettier --write --ignore-unknown
