Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

release: complete Task 8.0 - Release Preparation
  project/tasks-diamonds-hardhat-foundry-module.md
Due: prettier --write --ignore-unknown

fix: update integration tests to use package imports
  docs/PROJECT_OVERVIEW.md
  test/integration/diamonds-hardhat-foundry.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: switch package.json to NextNode
  package.json
  tsconfig.json
Due: prettier --write --ignore-unknown

feat: diamonds-hardhat-foundry
  package.json
Due: prettier --write --ignore-unknown

chore: update test imports to use migrated LocalDiamondDeployer
  project/prd-migrate-localdiamonddeployer.md
  project/tasks-migrate-localdiamonddeployer.md
  test/deployment/DiamondDeployment.test.ts
  test/integration/e2e-diamond-monitoring.test.ts
  test/integration/performance-monitoring.test.ts
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

docs: update PROJECT_OVERVIEW with migrated LocalDiamondDeployer
  docs/PROJECT_OVERVIEW.md
  project/tasks-migrate-localdiamonddeployer.md
Due: prettier --write --ignore-unknown

chore: mark migration tasks complete
  project/tasks-migrate-localdiamonddeployer.md
Due: prettier --write --ignore-unknown

fix: update test imports to use package contracts and fix compilation issues
  diamonds/ExampleDiamond/deployments/examplediamond-hardhat-31337.json
  hardhat.config.ts
  project/prd-migrate-localdiamonddeployer-enhance-helpers.md
  project/tasks-migrate-localdiamonddeployer-enhance-helpers.md
  scripts/setup/ForgeFuzzingFramework.ts
  scripts/setup/LocalDiamondDeployer.ts
  scripts/setup/MedusaFuzzingFramework.ts
  scripts/tasks/forge.ts
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/fuzz/ExampleFuzz.t.sol
  test/foundry/helpers/DiamondABILoader.sol
  test/foundry/helpers/DiamondABILoader.t.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/foundry/helpers/DiamondFuzzBase.sol
  test/foundry/integration/BasicDiamondIntegrationDeployed.t.sol
  test/foundry/integration/ExampleIntegration.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/deployment.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/end-to-end.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
  test/foundry/unit/ExampleUnit.t.sol
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

test: add _loadDiamondAddress() override to all fuzz and invariant tests
  project/tasks-migrate-localdiamonddeployer-enhance-helpers.md
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/fuzz/ExampleFuzz.t.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/foundry/integration/ExampleIntegration.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
  test/foundry/unit/ExampleUnit.t.sol
Due: prettier --write --ignore-unknown

chore: mark tasks 5.23 and 6.1-6.5 as complete
  project/tasks-migrate-localdiamonddeployer-enhance-helpers.md
Due: prettier --write --ignore-unknown

chore: mark Task 7.0 documentation as complete
  project/tasks-migrate-localdiamonddeployer-enhance-helpers.md
Due: prettier --write --ignore-unknown

fix: foundry testing WIP
  diamonds/ExampleDiamond/deployments/examplediamond-hardhat-31337.json
  project/archive/prd-echidna-fuzzing-integration.md
  project/archive/prd-trailofbits-toolkit-integration.md
  project/archive/tasks-echidna-fuzzing-integration.md
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/helpers/DiamondABILoader.t.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
Due: prettier --write --ignore-unknown

fix: WIP foundry deployment completion
  project/prd-complete-diamonds-hardhat-foundry.md
  project/tasks-complete-diamonds-hardhat-foundry.md
  test/foundry/helpers/DiamondDeployment.sol
Due: prettier --write --ignore-unknown

feat: use hardhat-diamonds LocalDiamondDeployer in Deployment test
  test/deployment/DiamondDeployment.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: update integration tests to handle non-fork execution
  test/foundry/integration/diamonds-hardhat-foundry/deployment.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/helper-generation.t.sol
Due: none

feat: diamonds-hardhat-foundry module v2 beta complete
  .github/PROJECT_OVERVIEW.md
  .github/copilot-instructions.md
  .github/task-list-management.md
  hardhat.config.ts
  package.json
  project/diamonds-hardhat-foundry-project.md
  project/tasks-complete-diamonds-hardhat-foundry.md
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/helpers/DiamondABILoader.t.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/foundry/integration/BasicDiamondIntegration.t.sol
  test/foundry/integration/BasicDiamondIntegrationDeployed.t.sol
  test/foundry/integration/ExampleIntegration.t.sol
  test/foundry/integration/SnapshotExample.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/deployment.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/end-to-end.t.sol
  test/foundry/integration/diamonds-hardhat-foundry/helper-generation.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
  test/foundry/poc/DiamondABIDebugTest.t.sol
  test/integration/diamonds-hardhat-foundry.test.ts
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: performance monitoring test optionality and docs
  docs/MONITORING_AND_PERFORMANCE_TESTING.md
  test/integration/performance-monitoring.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: ignore dynamic created forge helper
  .gitignore
Due: none

chore: update to latest package versions
  test/foundry/helpers/DiamondDeployment.sol
Due: none

chore: archive old prds and tasks
  diamonds/ExampleDiamond/deployments/examplediamond-localhost-31337.json
  project/archive/prd-migrate-localdiamonddeployer-enhance-helpers.md
  project/archive/prd-migrate-localdiamonddeployer.md
  project/archive/tasks-migrate-localdiamonddeployer-enhance-helpers.md
  project/archive/tasks-migrate-localdiamonddeployer.md
  project/archive/tasks-trailofbits-toolkit-integration.md
Due: prettier --write --ignore-unknown

feat: complete task 1.0 - enhance DiamondFuzzBase with role granting helpers
  project/prd-fix-diamonds-hardhat-foundry-tests.md
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/poc/JSONParseTest.t.sol
Due: prettier --write --ignore-unknown

feat: complete task 2.0 - fix access control test suites
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondAccessControl.t.sol
Due: prettier --write --ignore-unknown

feat: complete task 3.1 - fix DiamondInvariants test suite
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
  test/foundry/fuzz/DiamondInvariants.t.sol
Due: prettier --write --ignore-unknown

feat: complete task 3.2 and 3.0 - fix DiamondProxyInvariant and all invariant tests
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
  test/foundry/invariant/DiamondProxyInvariant.t.sol
Due: prettier --write --ignore-unknown

feat: complete tasks 4 and 5 - 100% test pass rate
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/integration/BasicDiamondIntegrationDeployed.t.sol
  test/foundry/poc/JSONParseTest.t.sol
  test/foundry/unit/ExampleUnit.t.sol
Due: prettier --write --ignore-unknown

feat: complete task 6.0 - validate end-to-end workflow
  diamonds/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/integration/BasicDiamondIntegrationDeployed.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
Due: prettier --write --ignore-unknown

feat: complete task 7.0 - documentation and release preparation
  project/tasks-fix-diamonds-hardhat-foundry-tests.md
Due: prettier --write --ignore-unknown

fix: getDamonondABIPath override in forge tests
  script/Counter.s.sol
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondAccessControl.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/fuzz/DiamondOwnership.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/fuzz/ExampleFuzz.t.sol
  test/foundry/integration/BasicDiamondIntegrationDeployed.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
Due: none

feat: working v2.2.3 diamonds-hardhat-foundry
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/helpers/DiamondABILoader.t.sol
  test/foundry/helpers/README_DiamondABILoader.md
  test/foundry/integration/diamonds-hardhat-foundry/helper-generation.t.sol
Due: prettier --write --ignore-unknown

fix: remove mdedusa setup and helper scripts
  scripts/setup/MedusaFuzzingFramework.test.ts
  scripts/setup/MedusaFuzzingFramework.ts
  scripts/utils/medusaHelpers.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: remove echidna startup scripts
  scripts/setup/prepare-echidna.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: remove ForgeFuzzingFramework
  scripts/setup/ForgeFuzzingFramework.test.ts
  scripts/setup/ForgeFuzzingFramework.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: linting hre issues (any)
  test/deployment/DiamondDeployment.test.ts
  test/integration/e2e-diamond-monitoring.test.ts
  test/integration/performance-monitoring.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: DiamondDeployment test linting hre
  test/deployment/DiamondDeployment.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: tests using proper LocalDiamondDeployer
  test/deployment/DiamondDeployment.test.ts
  test/integration/e2e-diamond-monitoring.test.ts
  test/integration/performance-monitoring.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

chore: start of forge coverage integration
  project/devcontainer-vault-completion.md
  project/prd-diamonds-forge-coverage.md
  project/tasks-diamonds-forge-coverage.md
Due: prettier --write --ignore-unknown

feat(coverage): add forge coverage integration for Diamond contracts
  docs/FOUNDRY_FORGE_DIAMONDS_COVERAGE.md
  project/tasks-diamonds-forge-coverage.md
Due: prettier --write --ignore-unknown

docs(coverage): mark all documentation tasks complete
  project/tasks-diamonds-forge-coverage.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: any of: *.{js,ts,json,md}
  eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern: any of: *.{js,ts}
