Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

.lintstagedrc:

{
  "*.{js,ts,json,md}": [
    "prettier --write --ignore-unknown",
    "git add"
  ],
  "*.{js,ts}": [
    "eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern",
    "git add"
  ]
}

fix: removed medusa.ts from script tasks
  scripts/tasks/medusa.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

chore(tasks): update task list with completed items
  project/tasks-diamonds-forge-coverage.md
Due: prettier --write --ignore-unknown

fix(coverage): validate and fix coverage command network connectivity
  foundry.toml
  package.json
Due: prettier --write --ignore-unknown

feat: complete diamonds-forge-coverage tasks
  project/tasks-diamonds-forge-coverage.md
Due: prettier --write --ignore-unknown

feat: loadDiamondArtifact complete + cleanup
  .github/copilot-instructions.md
  docs/PROJECT_OVERVIEW.md
  package.json
  project/diamonds-hardhat-foundry-project.md
  scripts/utils/forgeHelpers.ts
  scripts/utils/loadDiamondArtifact.ts
  test/deployment/DiamondDeployment.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: deployInclude deployExclude tests init contracts and config
  contracts/examplediamond/ExampeTestDeployInclude.sol
  contracts/examplediamond/ExampleTestDeployExclude.sol
  diamonds/ExampleDiamond/examplediamond-exlcude.config .json
  diamonds/ExampleDiamond/examplediamond-include.config.json
  project/prd-diamond-deploy-include-exclude-tests.md
  project/tasks-diamond-deploy-include-exclude-tests.md
Due: prettier --write --ignore-unknown

test: verify branch setup and test infrastructure
  project/tasks-diamond-deploy-include-exclude-tests.md
Due: prettier --write --ignore-unknown

test: add unit tests for function selector calculation and config parsing
  project/tasks-diamond-deploy-include-exclude-tests.md
  test/deployment/SelectorRegistration.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

test: fix config files and update tests for deployExclude validation
  contracts/examplediamond/ExampleTestDeployInclude.sol
  diamonds/ExampleDiamond/examplediamond-exclude.config.json
  diamonds/ExampleDiamond/examplediamond-include.config.json
  project/tasks-diamond-deploy-include-exclude-tests.md
  test/deployment/DeployIncludeExclude.test.ts
  test/deployment/SelectorRegistration.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: deployExclude not working due to version key mismatch
  project/tasks-diamond-deploy-include-exclude-tests.md
  test/deployment/DeployIncludeExclude.test.ts
  test/deployment/SelectorRegistration.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: complete deployInclude and deployExclude integration tests
  diamonds/ExampleDiamond/examplediamond-include.config.json
  test/deployment/DeployIncludeExclude.test.ts
  test/deployment/SelectorRegistration.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: deployExclude/Include tests
  diamonds/ExampleDiamond/examplediamond-include.config.json
  package.json
  project/tasks-diamond-deploy-include-exclude-tests.md
  test-assets/test-diamonds/include-and-exclude.config.json
  test-assets/test-diamonds/invalid-exclude.config.json
  test-assets/test-diamonds/invalid-include.config.json
  test/deployment/DeployIncludeExclude.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

chore: v1.5.0
  contracts/examplediamond/ExampleTestDeployExclude.sol
  contracts/examplediamond/ExampleTestDeployInclude.sol
  package.json
Due: prettier --write --ignore-unknown

chore: archive PRDs and Tasks
  project/archive/devcontainer-vault-completion.md
  project/archive/diamonds-foundry-prd-creation.md
  project/archive/diamonds-hardhat-foundry-project.md
  project/archive/prd-complete-diamonds-hardhat-foundry.md
  project/archive/prd-diamond-deploy-include-exclude-tests.md
  project/archive/prd-diamonds-forge-coverage.md
  project/archive/prd-diamonds-hardhat-foundry-module.md
  project/archive/prd-fix-diamonds-hardhat-foundry-tests.md
  project/archive/tasks-complete-diamonds-hardhat-foundry.md
  project/archive/tasks-diamond-deploy-include-exclude-tests.md
  project/archive/tasks-diamonds-forge-coverage.md
  project/archive/tasks-diamonds-hardhat-foundry-module.md
  project/archive/tasks-fix-diamonds-hardhat-foundry-tests.md
  project/prompt-create-prd-devops-improvements.md
Due: prettier --write --ignore-unknown

fix: create-prd location correction
  project/init-prompts/create-prd.md
Due: prettier --write --ignore-unknown

feat: project devops improvement prompt
  project/prompt-create-prd-devops-improvements.md
Due: prettier --write --ignore-unknown

feat: update to hardhat-diamonds flattener epics
  project/hardhat-diamonds/Milestone_1-flattener/Epic1/epic1.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic1/prd-diamond-flatten-epic1.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic1/tasks-diamond-flatten-epic1.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic2/epic2.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic3/epic3.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic4/epic4.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic5/epic5.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic6/epic6.md
  project/hardhat-diamonds/diamond-flatten-project-plan.md
  project/hardhat-diamonds/prd-diamond-discovery-epic2.md
  project/hardhat-diamonds/tasks-diamond-discovery-epic2.md
Due: prettier --write --ignore-unknown

feat: Cleanup HH-Diamdons Flattener Epic2
  project/hardhat-diamonds/Milestone_1-flattener/Epic2/prd-diamond-discovery-epic2.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic2/tasks-diamond-discovery-epic2.md
Due: prettier --write --ignore-unknown

feat: hardhat-diamodns flattener epic3
  project/hardhat-diamonds/prd-diamond-discovery-epic2.md
  project/hardhat-diamonds/prd-flatten-engine-epic3.md
  project/hardhat-diamonds/tasks-diamond-discovery-epic2.md
  project/hardhat-diamonds/tasks-flatten-engine-epic3.md
Due: prettier --write --ignore-unknown

feat: hardhat-diamonds faltten MVP1
  package.json
  project/devops-improvements/IMPLEMENTATION_SUMMARY.md
  project/devops-improvements/devcontainer-improvements.md
  project/devops-improvements/prompt-create-prd-devops-improvements.md
  project/devops-improvements/task-9.0-validation-summary.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic3/prd-flatten-engine-epic3.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic3/tasks-flatten-engine-epic3.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic4/prd-output-formatting-epic4.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic4/tasks-output-formatting-epic4.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic5/prd-epic5-task-integration-error-handling.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic5/tasks-epic5-task-integration-error-handling.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic6/prd-epic6-testing-documentation.md
  project/hardhat-diamonds/Milestone_1-flattener/Epic6/tasks-epic6-testing-documentation.md
  project/hardhat-diamonds/tasks-flatten-engine-epic3.md
  scripts/verify-spdx-consolidation.sh
  yarn.lock
Due: prettier --write --ignore-unknown

feat: create feature branch for GitHub Actions CI
  project/tasks-github-actions-workflow-foundation.md
Due: prettier --write --ignore-unknown

feat: implement GitHub Actions CI workflow foundation
  .github/workflows/ci.yml
  project/tasks-github-actions-workflow-foundation.md
Due: prettier --write --ignore-unknown

chore: project devops improvements Diamonds CI/CD
  .github/archive/copilot-instructions.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/Diamonds_CICD_Project_Plan.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic1/epic1.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic2/epic2.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/epic3.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic4/epic4.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic5/epic5.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic6/epic6.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic7/epic7.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic8/epic8.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic9/epic9.md
  project/prd-github-actions-workflow-foundation.md
  project/tasks-github-actions-workflow-foundation.md
Due: prettier --write --ignore-unknown

fix: update workflow to use --immutable flag for Yarn 4.x
  .github/workflows/ci.yml
Due: none

docs: add CI/CD workflow and branch protection documentation
  README.md
  docs/GITHUB_BRANCH_PROTECTION.md
  project/tasks-github-actions-workflow-foundation.md
Due: prettier --write --ignore-unknown

fix: moved foundry github actions workflow to archive
  .github/archive/test.yml
Due: none

fix: update Hardhat to 2.28.0 to resolve lockfile validation error
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: ci/cd build process failing
  yarn.lock
Due: none

fix: update yarn.lock for hh changes+
  yarn.lock
Due: none

fix: update submodules with hardhat 2.28.0 compatibility
  yarn.lock
Due: none

fix: add missing workspace:build script for CI
  package.json
Due: prettier --write --ignore-unknown

fix: remove workspace build from CI compile job
  .github/workflows/ci.yml
Due: none

feat: create automated DevContainer build workflow
  .github/workflows/build-devcontainer.yml
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic1/prd-github-actions-workflow-foundation.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic1/tasks-github-actions-workflow-foundation.md
  project/prd-epic2-container-setup.md
  project/tasks-epic2-container-setup.md
Due: prettier --write --ignore-unknown

feat: update CI workflow to use DevContainer image
  .github/workflows/ci.yml
  project/tasks-epic2-container-setup.md
Due: prettier --write --ignore-unknown

feat: configure environment variables and GitHub Secrets in CI
  .github/workflows/ci.yml
  project/tasks-epic2-container-setup.md
Due: prettier --write --ignore-unknown

feat: add container validation script and CI job
  .github/workflows/ci.yml
  project/tasks-epic2-container-setup.md
  scripts/test-container-setup.sh
Due: prettier --write --ignore-unknown

feat: add .devcontainer agents and Critical Blocker
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic2/CRITICAL-BLOCKER.md
  project/prd-epic2-container-setup.md
  project/tasks-epic2-container-setup.md
Due: prettier --write --ignore-unknown
