Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

cleanup, utils not resolve
  .lintstagedrc
  docs/DEVELOPMENT.md
  docs/ENHANCED_MONITORING_SYSTEM.md
  docs/REPORT_GENERATION_SYSTEM.md
  docs/example-enhanced-system.ts
  docs/example-report-generation.ts
  docs/examples/example-enhanced-system.ts
  docs/examples/example-report-generation.ts
  eslint.config.mjs
  package.json
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

added launch.json for vscode debugging
  .vscode/launch.json
Due: prettier --write --ignore-unknown

added .ignore for flatten
  .ignore
Due: none

console logging dependent on verbose for abi-generate
  scripts/generate-diamond-abi-with-typechain.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

auto formatting corrections
  diamonds/ExampleDiamond/examplediamond.config.json
  hardhat.config.ts
  scripts/common.ts
  scripts/deploy/defender/deploy-defender-manual.ts
  scripts/deploy/defender/deploy-defender.ts
  scripts/deploy/defender/status-defender.ts
  scripts/deploy/defender/upgrade-defender.ts
  scripts/deploy/defender/verify-defender.ts
  scripts/deploy/rpc/README.md
  scripts/deploy/rpc/common.ts
  scripts/deploy/rpc/deploy-rpc-manual.ts
  scripts/deploy/rpc/deploy-rpc.ts
  scripts/deploy/rpc/status-rpc.ts
  scripts/deploy/rpc/upgrade-rpc.ts
  scripts/deploy/rpc/verify-rpc.ts
  scripts/setup/DefenderDiamondDeployer.ts
  scripts/setup/LocalDiamondDeployer.ts
  scripts/setup/RPCDiamondDeployer.ts
  scripts/utils/clearlogs.ts
  scripts/utils/helpers.ts
  scripts/utils/iObjToString.ts
  scripts/utils/loadDiamondArtifact.ts
  scripts/utils/logEvents.ts
  scripts/utils/logger.ts
  scripts/utils/network-utils.ts
  scripts/utils/signer.ts
  scripts/utils/transferOwnership.ts
  scripts/utils/xorwow.ts
  test/README.md
  test/deployment/DiamondDeployment.test.ts
  test/integration/rpc/rpc-deployment.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix parser errors .sol ci/cd errors
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.json
Due: prettier --write --ignore-unknown

updated .gitignorefor flat
  .gitignore
Due: none

fixes for ci github
  .github/workflows/ci.yml
  .gitignore
  diamond-typechain-types/ExampleDiamond.ts
  diamond-typechain-types/common.ts
  diamond-typechain-types/factories/ExampleDiamond__factory.ts
  diamond-typechain-types/factories/index.ts
  diamond-typechain-types/index.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

added test-assets to repo
  .gitignore
  eslint.config.mjs
  test-assets/test-diamonds/ExampleDiamond/examplediamond.config.json
Due: prettier --write --ignore-unknown

added network config to repo
  .gitignore
  config/networks/arbitrum.json
  config/networks/base.json
  config/networks/mainnet.json
  config/networks/polygon.json
  config/networks/sepolia.json
Due: prettier --write --ignore-unknown

added ci copy .env
  .env.ci
  .github/workflows/ci.yml
  .gitignore
Due: none

added TEST_PRIVATE_KEY to .env.ci
  .env.ci
Due: none

added yarn.lock and .yarn for issue with ci
  .yarn/install-state.gz
  yarn.lock
Due: none

added copilot-instructions, tsconfig for package test, .ignore
  .github/copilot-instructions.md
  .ignore
  tsconfig.json
Due: prettier --write --ignore-unknown

added real-time-monitoring.test.ts
  test/integration/real-time-monitoring.test.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

added deployment for monitor checks
  diamonds/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
  scripts/hardhat-run-sepolia-monitor.ts
  scripts/monitor-sepolia-deployment.ts
  test-assets/deployments-test/ExampleDiamond/deployments/examplediamond-polygon-137.json
  test-assets/deployments-test/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
  test-assets/test-diamonds/ExampleDiamond/deployments/examplediamond-arbitrum-42161.json
  test-assets/test-diamonds/ExampleDiamond/deployments/examplediamond-base-8453.json
  test-assets/test-diamonds/ExampleDiamond/deployments/examplediamond-hardhat-31337.json
  test-assets/test-diamonds/ExampleDiamond/deployments/examplediamond-mainnet-1.json
  test-assets/test-diamonds/ExampleDiamond/deployments/examplediamond-polygon-137.json
  test-assets/test-diamonds/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
  test-assets/test-diamonds/NonExistentDiamond/deployments/nonexistentdiamond-hardhat-31337.json
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

added diamondabi to vscode launch
  .gitignore
  .vscode/launch.json
  diamonds/ExampleDiamond/deployments/rpc/archive/ExampleDiamond-sepolia-11155111.json
  diamonds/ExampleDiamond/examplediamond-upgrade.config.json
Due: prettier --write --ignore-unknown

cleanup hardhat of dead code
  hardhat.config.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

add ExampleUpgradeFacet.sol
  contracts/examplediamond/ExampleUpgradeFacet.sol
Due: none

migrating to new dev env
  .gitmodules
  .yarn/install-state.gz
  diamonds/ExampleDiamond/callbacks/ExampleUpgradeFacet.ts
  diamonds/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
  diamonds/ExampleDiamond/deployments/rpc/archive/ExampleDiamond-sepolia-11155111.json
  diamonds/ExampleDiamond/examplediamond-deploy.config.json
  diamonds/ExampleDiamond/examplediamond.config.json
  package.json
  scripts/diamond-abi-generator.ts
  scripts/generate-diamond-abi-with-typechain.ts
  scripts/hardhat-run-sepolia-monitor.ts
  scripts/monitor-sepolia-deployment.ts
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

setup in dev env working
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .vscode/launch.json
  .vscode/tasks.json
  .yarn/install-state.gz
  README.md
  diamond-typechain-types/ExampleDiamond.ts
  diamond-typechain-types/factories/ExampleDiamond__factory.ts
  eslint.config.mjs
  hardhat.config.ts
  scripts/setup/DefenderDiamondDeployer.ts
  scripts/setup/LocalDiamondDeployer.ts
  scripts/setup/RPCDiamondDeployer.ts
  test/integration/real-time-monitoring.test.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

correct DefenderDiamondDeployer deployments creation
  .vscode/launch.json
  .yarn/install-state.gz
  scripts/setup/DefenderDiamondDeployer.ts
  test-assets/deployments-test/ExampleDiamond/deployments/examplediamond-hardhat-31337.json
  test-assets/deployments-test/ExampleDiamond/deployments/examplediamond-invalid_network-999999.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

hardhat-diamonds v1.1.0
  .yarn/install-state.gz
  diamond-typechain-types/factories/ExampleDiamond__factory.ts
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

v1.1.0 hardhat-diamonds-dev
  package.json
Due: prettier --write --ignore-unknown

removed diamondabi scripts, setup scripts updated use diamondabi hardhat
  package.json
  scripts/diamond-abi-generator.ts
  scripts/generate-diamond-abi-with-typechain.ts
  scripts/setup/DefenderDiamondDeployer.ts
  scripts/setup/LocalDiamondDeployer.ts
  scripts/setup/RPCDiamondDeployer.ts
  test/integration/diamond-abi-generation.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fixed diamond-abi-generator unit test
  test/unit/diamond-abi-generator.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: Devcontainer v1 working
  .gitignore
  .yarn/install-state.gz
  .yarnrc.yml
  README.md
  eslint.config.mjs
  reports/README.md
  scripts/deploy/defender/verify-defender.ts
  scripts/setup/RPCDiamondDeployer.ts
  slither.config.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: move hardhat-diamonds copilot instructions to archive
  .github/archive/copilot-instructions.md
  .github/task-list-management.md
Due: prettier --write --ignore-unknown

feat: devcontainer repo cleanup
  .gitignore
  .yarn/install-state.gz
  diamond-typechain-types/ExampleDiamond.ts
  diamond-typechain-types/common.ts
  diamond-typechain-types/factories/ExampleDiamond__factory.ts
  diamond-typechain-types/factories/index.ts
  diamond-typechain-types/index.ts
  reports/README.md
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: add diamonds repository as git submodule workspace
  .gitmodules
  package.json
Due: prettier --write --ignore-unknown

feat: convert .devcontainer to git submodule workspace
  .gitmodules
  package.json
Due: prettier --write --ignore-unknown

feat: add hardhat-multichain as git submodule workspace
  .gitmodules
  package.json
Due: prettier --write --ignore-unknown

fix: submodule rename diamondlabs and linting issues
  .vscode/launch.json
  .yarn/install-state.gz
  hardhat.config.ts
  package.json
  scripts/devops/provenance-validator.ts
  scripts/setup/DefenderDiamondDeployer.ts
  scripts/setup/LocalDiamondDeployer.ts
  scripts/setup/RPCDiamondDeployer.ts
  scripts/utils/loadDiamondArtifact.ts
  test/deployment/DiamondDeployment.test.ts
  test/unit/rpc/RPCDiamondDeployer.hardhat.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: chainmanager and blocknumer tsc errors in Deployment test
  test/deployment/DiamondDeployment.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

Path conditions:
  prettier --write --ignore-unknown: any of: *.{js,ts,json,md}
  eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern: any of: *.{js,ts}
