Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: remove .yarn from repo
  .gitignore
  .yarn/install-state.gz
  yarn.lock
Due: none

feat: setup modules
  package.json
Due: prettier --write --ignore-unknown

fix: mockChaiMainager in RPCDiamondDeployer.hardhat.test
  test/unit/rpc/RPCDiamondDeployer.hardhat.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: added supportedProviders
  scripts/setup/DefenderDiamondDeployer.ts
  scripts/setup/LocalDiamondDeployer.ts
  scripts/setup/RPCDiamondDeployer.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: remove examplediamon deployment records from git repo
  .gitignore
  diamonds/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
Due: prettier --write --ignore-unknown

fix: cleanup semgrep and latest diamonds
  contracts/examplediamond/ExampleInitFacet.sol
  contracts/examplediamond/ExampleUpgradeFacet.sol
  diamonds/ExampleDiamond/deployments/examplediamond-sepolia-11155111.json
  scripts/common.ts
  scripts/deploy/rpc/status-rpc.ts
  scripts/deploy/rpc/upgrade-rpc.ts
  scripts/deploy/rpc/verify-rpc.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: create branch from issue
  .github/workflows/create-branch-from-issue.yml
Due: none

fix: create branch from issue format correction include issue name
  .github/workflows/create-branch-from-issue.yml
Due: none

fix: create branch from issue return to orig file
  .github/workflows/create-branch-from-issue.yml
Due: none

feat: branch naming workflow file removed
  .github/workflows/create-branch-from-issue.yml
Due: none

docs: project overview added
  docs/PROJECT_OVERVIEW.md
Due: prettier --write --ignore-unknown

feat: create feature branch for medusa fuzzing integration
  tasks/prd-medusa-fuzzing-integration.md
  tasks/tasks-medusa-fuzzing-integration.md
Due: prettier --write --ignore-unknown

feat: complete medusa installation in devcontainer
  tasks/tasks-medusa-fuzzing-integration.md
Due: prettier --write --ignore-unknown

feat: create medusa fuzzing framework and test generation
  scripts/setup/MedusaFuzzingFramework.test.ts
  scripts/setup/MedusaFuzzingFramework.ts
  scripts/utils/medusaHelpers.ts
  tasks/tasks-medusa-fuzzing-integration.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: add Hardhat task for Medusa fuzzing
  hardhat.config.ts
  tasks/medusa.ts
  tasks/tasks-medusa-fuzzing-integration.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: create ExampleDiamond fuzzing configuration
  medusa.json
  tasks/medusa.ts
  tasks/tasks-medusa-fuzzing-integration.md
  test/fuzzing/ExampleDiamond.fuzz.config.json
  test/fuzzing/generated/ExampleDiamondTest.sol
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

docs: add fuzzing documentation and .gitignore entries
  .gitignore
  README.md
  tasks/tasks-medusa-fuzzing-integration.md
  test/fuzzing/README.md
Due: prettier --write --ignore-unknown

fix: update import path for MedusaFuzzingFramework
  tasks/medusa.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: move medusa task to scripts
  hardhat.config.ts
  scripts/tasks/medusa.ts
  tasks/tasks-medusa-fuzzing-integration.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

docs: small edit to PROJECT_OVERVIEW
  docs/PROJECT_OVERVIEW.md
Due: prettier --write --ignore-unknown

feat: foundry forge added
  .github/workflows/test.yml
  .gitignore
  contracts/examplediamond/ExampleAccessControl.sol
  docs/FOUNDRY_GUIDE.md
  docs/FOUNDRY_QUICK_REFERENCE.md
  docs/FOUNDRY_SETUP_SUMMARY.md
  foundry.toml
  hardhat.config.ts
  package.json
  test/foundry/integration/ExampleDiamondIntegration.t.sol
  test/foundry/unit/ExampleConstantsFacet.t.sol
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: added tasks for foundry fuzzing
  tasks/prd-forge-diamond-fuzzing.md
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown

feat: implement Diamond ABI loading infrastructure (Task 1.0)
  foundry.toml
  script/Counter.s.sol
  tasks/tasks-forge-diamond-fuzzing.md
  test/foundry/helpers/DiamondABILoader.sol
  test/foundry/helpers/DiamondABILoader.t.sol
  test/foundry/helpers/README_DiamondABILoader.md
  test/foundry/poc/DiamondABIDebugTest.t.sol
  test/foundry/poc/DiamondABILoadingPOC.t.sol
  test/foundry/poc/JSONParseTest.t.sol
Due: prettier --write --ignore-unknown

feat: add Hardhat deployment script for Forge testing
  .gitignore
  package.json
  scripts/foundry/deploy-for-tests.sh
  scripts/test-deploy-diamond.ts
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: implement comprehensive Diamond fuzzing tests
  scripts/test-deploy-diamond.ts
  tasks/tasks-forge-diamond-fuzzing.md
  test/foundry/fuzz/AccessControlFuzz.t.sol
  test/foundry/fuzz/DiamondInvariants.t.sol
  test/foundry/fuzz/DiamondRouting.t.sol
  test/foundry/helpers/DiamondFuzzBase.sol
  test/foundry/helpers/DiamondFuzzBase.t.sol
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: add DiamondFuzzBase testing library
  foundry.toml
  tasks/tasks-forge-diamond-fuzzing.md
  test/foundry/helpers/DiamondFuzzBase.sol
  test/foundry/helpers/DiamondFuzzBase.t.sol
Due: prettier --write --ignore-unknown

feat: move completed tasks to archive
  tasks/archive/prd-medusa-fuzzing-integration.md
  tasks/archive/tasks-forge-diamond-fuzzing.md
  tasks/archive/tasks-medusa-fuzzing-integration.md
  tasks/medusa.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: updated forge fuzz prd
  tasks/prd-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown

feat: move forge fuzzing prd to archive
  tasks/archive/prd-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown

feat: create feature branch for forge fuzzing refactor
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown

feat: implement ForgeFuzzingFramework class
  .ignore
  scripts/setup/ForgeFuzzingFramework.test.ts
  scripts/setup/ForgeFuzzingFramework.ts
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: implement Solidity helper library generation
  scripts/setup/ForgeFuzzingFramework.ts
  scripts/utils/forgeHelpers.ts
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: create Hardhat tasks for Forge fuzzing
  hardhat.config.ts
  package.json
  scripts/setup/ForgeFuzzingFramework.test.ts
  scripts/setup/ForgeFuzzingFramework.ts
  scripts/utils/forgeHelpers.ts
  tasks/forge.ts
  tasks/tasks-forge-diamond-fuzzing.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: implement comprehensive Forge tests for ExampleDiamond
  tasks/tasks-forge-diamond-fuzzing.md
  test/foundry/ExampleDiamond.forge.config.json
  test/foundry/fuzz/ExampleDiamondAccessControl.t.sol
  test/foundry/fuzz/ExampleDiamondOwnership.t.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/foundry/helpers/DiamondFuzzBase.sol
  test/foundry/integration/ExampleDiamondIntegrationDeployed.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
Due: prettier --write --ignore-unknown

fix: correct @ts-ignore placement for dynamic imports in forge tasks
  tasks/forge.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

refactor: remove deprecated Forge deployment artifacts
  .gitignore
  foundry.toml
  scripts/foundry/deploy-for-tests.sh
  scripts/setup/ForgeFuzzingFramework.test.ts
  scripts/setup/ForgeFuzzingFramework.ts
  scripts/test-deploy-diamond.ts
  scripts/utils/forgeHelpers.ts
  tasks/tasks-forge-diamond-fuzzing.md
  test/foundry/fuzz/ExampleDiamondAccessControl.t.sol
  test/foundry/fuzz/ExampleDiamondOwnership.t.sol
  test/foundry/helpers/DiamondDeployment.sol
  test/foundry/helpers/DiamondFuzzBase.sol
  test/foundry/helpers/DiamondFuzzBase.t.sol
  test/foundry/integration/ExampleDiamondIntegrationDeployed.t.sol
  test/foundry/invariant/DiamondProxyInvariant.t.sol
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

docs: add comprehensive Forge Fuzzing Framework documentation
  docs/FORGE_FUZZING_GUIDE.md
  docs/FOUNDRY_GUIDE.md
  scripts/setup/ForgeFuzzingFramework.ts
  scripts/utils/forgeHelpers.ts
  tasks/tasks-forge-diamond-fuzzing.md
  test/foundry/README.md
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

Path conditions:
  prettier --write --ignore-unknown: any of: *.{js,ts,json,md}
  eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern: any of: *.{js,ts}
