Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

.lintstagedrc:

{
  "*.{js,ts,json,md}": [
    "prettier --write --ignore-unknown",
    "git add"
  ],
  "*.{js,ts}": [
    "eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern",
    "git add"
  ]
}

fix: use yarn workspaces foreach for building packages
  .github/workflows/ci.yml
Due: none

fix: build workspace packages with cd approach
  .github/workflows/ci.yml
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

fix: skip explicit workspace package builds in CI
  .github/workflows/ci.yml
Due: none

fix: use npm to build workspace packages avoiding yarn state issues
  .github/workflows/ci.yml
Due: none

fix: remove branch prefix from Docker SHA tag
  .github/workflows/build-devcontainer.yml
Due: none

ci: enable verbose Diamond ABI generation logging
  .github/workflows/ci.yml
  package.json
Due: prettier --write --ignore-unknown

fix: use correct verbose flag --enable-verbose for Diamond ABI task
  package.json
Due: prettier --write --ignore-unknown

fix: update diamonds submodule with optional .env loading
  .gitignore
Due: none

docs: add CI artifacts documentation and workflow comments
  .github/workflows/ci.yml
  docs/CI_ARTIFACTS.md
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

docs: complete Epic 3 documentation with PR description
  project/EPIC3_PR_DESCRIPTION.md
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

chore: mark Epic 3 Task 16.0 complete - ready for review
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

chore: Epic 3 cleanup
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3_PR_DESCRIPTION.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/prd-epic3-compilation-type-generation.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

feat: implement Epic 4 testing pipeline
  .github/workflows/ci.yml
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic4/prd-testing-pipeline.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic4/tasks-testing-pipeline.md
Due: prettier --write --ignore-unknown

fix: removed MAINNET_RPC_URL from ci.yml
  .github/workflows/ci.yml
Due: none

fix: correct test coverage command in CI workflow
  .github/workflows/ci.yml
Due: none

fix: remove HARDHAT_NETWORK env var causing coverage failure
  .github/workflows/ci.yml
Due: none

fix: create .env file for solidity-coverage plugin
  .github/workflows/ci.yml
Due: none

fix: build diamonds-monitor package to resolve coverage plugin error
  .github/workflows/ci.yml
Due: none

fix: build diamonds-hardhat-foundry package for tests
  .github/workflows/ci.yml
Due: none

fix: use yarn instead of npm for workspace package builds
  .github/workflows/ci.yml
Due: none

fix: revert to npm run build and remove error suppression
  .github/workflows/ci.yml
Due: none

fix: use yarn workspace commands for building packages
  .github/workflows/ci.yml
Due: none

fix: use cd + npm run build instead of yarn workspace commands
  .github/workflows/ci.yml
Due: none

fix: manually run tsc and copy-templates for diamonds-hardhat-foundry
  .github/workflows/ci.yml
Due: none

debug: add ls -la dist/ to verify build output
  .github/workflows/ci.yml
Due: none

chore: add verbose tsc output for build diagnostics
  .github/workflows/ci.yml
Due: none

fix: use regular tsc instead of tsc --build for CI
  .github/workflows/ci.yml
Due: none

fix: run npm install before building diamonds-hardhat-foundry
  .github/workflows/ci.yml
Due: none

fix: bypass yarn workspace by running tsc + cp directly
  .github/workflows/ci.yml
Due: none

test: skip diamonds-hardhat-foundry tests in CI
  test/integration/diamonds-hardhat-foundry.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: adjust coverage threshold to current baseline (10%)
  .github/workflows/ci.yml
Due: none

fix: use correct coverage file path (coverage.json)
  .github/workflows/ci.yml
Due: none

chore: verify security tool prerequisites
  .github/SNYK_TOKEN_SETUP.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic5/tasks-epic5-security-scanning-pipeline.md
Due: prettier --write --ignore-unknown

feat(ci): add Phase 1 security scanning (git-secrets, Slither, npm audit)
  .github/workflows/ci.yml
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic5/tasks-epic5-security-scanning-pipeline.md
Due: prettier --write --ignore-unknown

feat(ci): add Phase 2 security scanning (Snyk, Semgrep, OSV-Scanner)
  .github/workflows/ci.yml
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic5/tasks-epic5-security-scanning-pipeline.md
Due: prettier --write --ignore-unknown

feat(ci): integrate security tools with GitHub Code Scanning
  .github/workflows/ci.yml
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic5/tasks-epic5-security-scanning-pipeline.md
Due: prettier --write --ignore-unknown
