Repository DiamondsLab/diamonds-dev-env: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

.lintstagedrc:

{
  "*.{js,ts,json,md}": [
    "prettier --write --ignore-unknown",
    "git add"
  ],
  "*.{js,ts}": [
    "eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern",
    "git add"
  ]
}

fix: update build workflow to handle submodule changes and add manual trigger
  .github/workflows/build-devcontainer.yml
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic2/BUILD-WORKFLOW-EXPLANATION.md
Due: prettier --write --ignore-unknown

fix: add Docker Buildx setup for cache support
  .github/workflows/build-devcontainer.yml
Due: none

fix: checkout submodules in build workflow
  .github/workflows/build-devcontainer.yml
Due: none

docs: mark build and image publishing tasks complete
  project/tasks-epic2-container-setup.md
Due: prettier --write --ignore-unknown

docs: add DevContainer build success summary
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic2/BUILD-SUCCESS.md
Due: prettier --write --ignore-unknown

docs: add Epic 3 PRD and task list
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic2/prd-epic2-container-setup.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic2/tasks-epic2-container-setup.md
  project/prd-epic3-compilation-type-generation.md
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

docs: complete Task 0.0 - prerequisites verification
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

feat: implement Epic 3 compilation job (Tasks 1.0-7.0)
  .github/workflows/ci.yml
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

fix: correct GHCR image name casing
  .github/workflows/ci.yml
Due: none

fix: add GHCR credentials to all container jobs
  .github/workflows/ci.yml
Due: none

fix: use branch-specific container tag
  .github/workflows/ci.yml
Due: none

fix: remove invalid volume mounts from container jobs
  .github/workflows/ci.yml
Due: none

fix: run containers as root user for GitHub Actions compatibility
  .github/workflows/ci.yml
Due: none

fix: add workspace packages build step before compilation
  .github/workflows/ci.yml
Due: none

fix: comment out problematic workspace imports to unblock Epic 3
  hardhat.config.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

fix: build only hardhat-diamonds package in CI workflow
  .github/workflows/ci.yml
Due: none

fix: also build hardhat-multichain package in CI
  .github/workflows/ci.yml
Due: none

fix: skip workspace build in test job to avoid TS errors
  .github/workflows/ci.yml
Due: none

fix: build both hardhat-multichain and hardhat-diamonds
  .github/workflows/ci.yml
Due: none

fix: use correct hardhat-multichain workspace name
  .github/workflows/ci.yml
Due: none

fix: attempt to build diamonds package with fallback
  .github/workflows/ci.yml
Due: none

fix: skip Diamond ABI generation and remove lint job
  .github/workflows/ci.yml
  scripts/test-container-setup.sh
Due: none

fix: accept Yarn 4.x in container validation
  scripts/test-container-setup.sh
Due: none

fix: check hardhat via npx instead of global command
  scripts/test-container-setup.sh
Due: none

fix: make forge and solc optional in container validation
  scripts/test-container-setup.sh
Due: none

fix: make environment variables optional in validation
  scripts/test-container-setup.sh
Due: none

fix: use yarn hardhat instead of npx for container validation
  scripts/test-container-setup.sh
Due: none

fix: install dependencies before container validation
  .github/workflows/ci.yml
Due: none

fix: make hardhat compilation test optional in container validation
  scripts/test-container-setup.sh
Due: none

docs: Epic 3 Task 9.0 complete - compilation working in CI
  project/EPIC3-SUCCESS-SUMMARY.md
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

test: intentional compilation error for CI testing
  contracts/examplediamond/ExampleConstantsFacet.sol
Due: none

fix: revert intentional compilation error
  contracts/examplediamond/ExampleConstantsFacet.sol
  project/EPIC3-SUCCESS-SUMMARY.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3-SUCCESS-SUMMARY.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3-TASK9-BLOCKER-REPORT.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3-TASK9-DEBUGGING-SUMMARY.md
Due: prettier --write --ignore-unknown

docs: mark Epic 3 Task 10.0 complete
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

test: trigger workflow for cache testing (Task 11.2)
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

test: invalidate cache for testing (Task 11.5)
  yarn.lock
Due: none

Revert "test: invalidate cache for testing (Task 11.5)"
  yarn.lock
Due: none

docs: mark Epic 3 Task 11.0 complete
  project/tasks-epic3-compilation-type-generation.md
Due: prettier --write --ignore-unknown

fix: resolve 16 TypeScript compilation errors
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3-SUCCESS-SUMMARY.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3-TASK9-BLOCKER-REPORT.md
  project/devops-improvements/Diamonds_CICD_Project_Plan/epic3/EPIC3-TASK9-DEBUGGING-SUMMARY.md
  scripts/deploy/rpc/hardhat-run-deploy-rpc.ts
  scripts/hardhat-run-sepolia-monitor.ts
  scripts/hardhat-run-sepolia-upgrade-monitor.ts
  scripts/monitor-sepolia-upgrade.ts
  scripts/setup/DefenderDiamondDeployer.ts
  scripts/setup/RPCDiamondDeployer.ts
  test/deployment/DeployIncludeExclude.test.ts
  test/deployment/DiamondDeployment.test.ts
  test/integration/e2e-diamond-monitoring.test.ts
  test/integration/performance-monitoring.test.ts
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings=0 --no-error-on-unmatched-pattern

feat: enable Diamond ABI generation in CI compile job
  .github/workflows/ci.yml
Due: none

fix: remove error suppression from workspace package builds
  .github/workflows/ci.yml
Due: none
